header{
    display: flex;
    border-radius: 29px;
    border: 2px;
    border-style: solid;
    border-color: black;
    justify-content: space-between;
    background-color: burlywood;
    padding: 15px;
}

#h1head{
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
}

fieldset{
    margin: 2px;
    border-radius: 2px;
    box-shadow: 4px 5px 3px gray;
    border-color: blue;
    border-style: groove;
}

legend{
    text-shadow: 2px 3px 2px greenyellow;
}

fieldset dt{
    text-transform: capitalize;
    color: rgb(191, 133, 246);
    text-shadow: 2px 2px 2px orange;
}
.icon-container{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

section{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    margin-top: 5px;
}

.nav-area{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 2px;
    

}

.nav-area{
    height: 300px;
    width: 250x;
    border: 1px;
    border-style: dotted;
    padding: 5px;

}
.nav-area div{
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 90px;
    background: brown;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    
}

.main-area{
    border: 3px;
    border-style: solid;
    height: 600px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
}

.aside-area{
    height: 150px;
    width: 250px;
    border: 2px;
    border: dashed;
    margin-left: 1px;
}

footer{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    height: 100px;
    border: 1px;
    border-style:solid;
    margin-top: 2px;
    
}

footer div{
    width: 120px;
    margin-bottom: 10px;
    margin: 2px;
    padding: 1px;
    background: greenyellow;
}

footer span{
    justify-content: space-around;
    border: 1px;
    border-style: dotted;
    display: block;
    border-color: darkgoldenrod;
}